.hero{
  min-height:60vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
  position:relative;
  overflow:hidden;

  /* مهم: حذف کامل بک‌گراند قبلی */
  background:none !important;
}

/* تصویر پس‌زمینه */
.hero::before{
  content:"";
  position:absolute;
  inset:0;
  background:url("khune.jpg") center/cover no-repeat;

  opacity:0.2;        /* کم‌رنگ */
  filter:blur(3px);   /* محو */
  transform:scale(1.08);

  z-index:-2;
}

/* لایه تیره برای خوانایی */
.hero::after{
  content:"";
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.55);
  z-index:-1;
}

/* متن روی عکس */
.hero h1,
.hero p{
  position:relative;
  z-index:1;
}

.hero h1{
  font-size:40px;
  color:#f5d27a;
  white-space:nowrap;
}
